/* header */
.header {
	background: #FFFFFF;
	border: 1px solid #D7D7D7;
	padding: 1em;
	height: 78px;
}
.header-title {
	color: #030303;
	font-size: 17px;
	font-weight: bold;
	line-height: 28px;
	margin: 10px 0;
	text-align: center;
}
.header-user {
	color: #757575;
	font-size: 17px;	
	line-height: 28px;
	margin: 10px 0;
}

/* navbar */

.header-menu {}
.header-menu-item {
	text-align: center;
	background: #9a97971c;
}
.header-navbar {
	background: white;
	border:  none;
}
.header-navbar-toggle {
	margin-top: 15px;
}


@media screen and (min-width: 768px) {
	.header-container-smtitle {
		display: none;	
	}
}

@media screen and (max-width: 767px) {
	.header-container-mdtitle {
		display: none;
	}
}