/* post */
.r-yellow { background: #F5C423;}
.r-red { background: #F75B60;}
.r-blue { background: #498BF4}
.r-green { background: #2ECC71;}
.r-black { background: #5D5D5D;}

.post-button {
	color: #2ECC71;
	font-size: 1.2em;
}
.post-container {
	background: #FFFFFF;
	/* border:  1px solid #D7D7D7; */
	border-radius: 2px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
    margin: 0 0 1.5em 0;
    padding-bottom: 5px;
    padding-top: 23px;
}
.post-date {
	color: #000000;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: -0.091px;
	line-height: 12px;
	margin-top: 0;
	mix-blend-mode: normal;
	opacity: 0.38;
}
.post-image {
	border-radius: 50%;	
}
.post-other-comments {
	background: #F4F4F4;
}
.post-other-comments-counter {
	font-size: 12px;
	font-weight: normal;
	letter-spacing: -0.091px;
	line-height: 14px;
	margin: 8px 0 0 0;
}
.post-reactions {
	border-radius: 50%;
	border: 1px solid #FFFFFF;
	display: inline-block;
	height: 19px;
	width: 19px;
	-webkit-transition: all .5s; 
    transition: all .5s;
}
.post-reactions:hover {
	border:  0;
	cursor: pointer;
	height: 23px;
	width: 23px;
}
.post-reactionsModal {
	border-radius: 50%;
	border: 1px solid #FFFFFF;
	display: inline-block;
	height: 50px;
	width: 50px;
	-webkit-transition: all .5s; 
    transition: all .5s;
}
.post-reactionsModal:hover {
	border:  0;
	cursor: pointer;
	height: 55px;
	width: 55px;
}
.post-reactions-counter {
	color: #2ECC71;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.091px;
	line-height: 16px;
	padding: 0 .5em;
	vertical-align: bottom;
	margin:  8px 0 6px 0;
}
.post-username {
	color: #2ECC71;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.01px;
	line-height: 16px;
	margin:  0 0 5px 0;
}

/* comments */
.comment-post-date {
	color: #000000;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: -0.091px;
	line-height: 12px;
	margin-top: 0;
	mix-blend-mode: normal;
	opacity: 0.38;
}
.comment-post-username {
	color: #2ECC71;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: -0.01px;
	line-height: 14px;
	margin-bottom: 6px;
	margin-top:  0;
}
.comment-post-content {
	display: inline;
	font-size: 12px;
	letter-spacing: -0.091px;
	line-height: 14px;
	margin-left: 1em;	
}
.comment-section {
	padding:  1em;
}
@media screen and (max-width: 767px) {
	.no-lborder {border-left: transparent;}
	.no-rborder {border-right: none !important;}
	.tCenter {
		text-align: center;			
	}
	.post-container-button {
		border:  1px solid #D7D7D7;
		border-left: 0;
		padding:  1em;	
	}
	.post-reactions {
		border-radius: 50%;
		border: 1px solid #FFFFFF;
		display: inline-block;
		height: 19px;
		width: 19px;
		-webkit-transition: all .5s; 
	    transition: all .5s;
	}
	.post-reactions:hover {
		border:  0;
		cursor: pointer;
		height: 23px;
		width: 23px;
	}
}

@media screen and (min-width: 768px) {
	.tCenter {
		margin-left: 7%;
	}
}


