/* state */
.line-container-state {
	border-top: 1px solid #D7D7D7;
	margin-bottom: 10px;
}
.state-button {
	background: #2ECC71;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 12px;
	font-size: 16px;
	letter-spacing: -0.01px;
	line-height: 14px;
	padding: .5em 2em;
}
.state-container {
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	border-radius: 2px;
}
.state-description {
    border: none;
    display: block;
	resize: none;
    width: 100%;
}
.state-description-modal {
	color: #333;
	box-shadow: none;
}
.state-modal-body {
	padding: 0 15px;
}
.state-title {
	color: #2ECC71;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    margin-top: .5em;
}

@media screen and (max-width: 767px) {
	.line-container-state {
		display: none;
	}
	.state-button {
		display: none;
	}
	.state-button-modal {
		display: block;
		font-size: 18px;
		padding: 1em 2em;
		width: 100%;
	}
}

